<ion-view view-title="Dashboard">
  <ion-content class="padding">
  
  <div class="card">
    <div class="item item-text-wrap">
      Simple ionic, angularjs demos
    </div>
  </div>
  
   	<div ng-controller="simpleBinding" class="item">
   	  Simple text binding : {{simplebinding}}
   	</div>
   	<div ng-controller="ExampleController1" class="item item-button-right">
     	  The alert is from a function <button class="button button-positive" on-touch="alertbox();">Push</button>
   	</div>
     	<div ng-controller="ExampleController2" class="item item-button-right">
   	  The result is from a function <button class="button button-positive" on-touch="result();">Push</button>
     	</div>
     	<div ng-controller="ExampleController3" class="item item-button-right">
   	  The result is from a function + service <button class="button button-positive" on-touch="serviceresult(2);">Push</button>
     	</div>

<!--   <div ng-controller="sampleCtrl">
   	List of items :
   	<ion-list>
   		<ion-item ng-repeat="item in items">{{item.item}}</ion-item>
   	</ion-list>
   </div> -->
  </ion-content>
</ion-view>
